.about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;

    & > * {
        padding: 12px;
    }

    &__title {
    }

    &__img {
        display: block;
        margin: 16px auto;
        border-radius: 50%;
        width: 60%;
        height: auto;
    }

    &__content {
    }

    &__icons {
        display: flex;
        font-size: 26px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        & > *:not(:last-child) {
            margin-right: 12px;
        }
    }
}