.breadcrumb {
    display: flex;
    align-items: center;
    font-size: .9rem;
    margin-bottom: 12px;
    
    & *:not(:last-child) {
        margin-right: 12px;
    }

    i {
        font-size: .9rem;
    } 
}