// global
html {
    font-family: 'Lato';
    font-size: 16px;
    scroll-behavior: smooth;
    color: rgba(32, 32, 32, 0.88);
    line-height: 2px;
}

// texts
p {
    font-family: 'PT Serif';
    font-size: 1.1rem;
}
